# git ignore file
*.suo
*.user
/Agent/bin
/Agent/obj
/Bootstrap/bin
/Bootstrap/obj
/Bootstrap_old/bin
/Bootstrap_old/obj
/BootstrapController/bin
/BootstrapController/obj
/BootstrapTools/bin
/BootstrapTools/obj
/CommonTool/bin
/CommonTool/obj
/Co-Defend-Client_v2/bin
/Co-Defend-Client_v2/obj
/CD2WebApp/bin
/CD2WebApp/obj
/Hub/bin
/Hub/obj
/Hub_old/bin
/Hub_old/obj
/TestProject/bin
/TestProject/obj
/TestResults
/Lidgren.Network/bin
/Lidgren.Network/obj
/CoreService/bin
/CoreService/obj
/ServiceSDK/bin
/ServiceSDK/obj
/ServiceUserDefined/bin
/ServiceUserDefined/obj
